<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Build Your Link {% endblock %}
        - {{ streamlined_config("streamlined_bundle.streamlined").app.name }}</title>
    <link rel="icon"
          type="image/svg"
          href="{{ streamlined_config("streamlined_bundle.streamlined").app.favicon }}">
    <link rel="icon" type="image/svg" href="{{ streamlined_config("streamlined_bundle.streamlined").app.favicon_dark }}"
          media="(prefers-color-scheme: dark)">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="WYVERR | Tudorache Leonard Valentin"> <!-- Please don't delete :) -->

    <meta name="title"
          content="{% block title1 %} Build Your Link {% endblock %} - {{ streamlined_config("streamlined_bundle.streamlined").app.name }}"/>
    <meta name="description" content="{{ streamlined_config('streamlined_bundle.streamlined').app.description }}"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ app.request.requestUri }}"/>
    <meta property="og:title"
          content="{% block title2 %} Build Your Link {% endblock %} - {{ streamlined_config("streamlined_bundle.streamlined").app.name }}"/>
    <meta property="og:description"
          content="{{ streamlined_config('streamlined_bundle.streamlined').app.description }}"/>
    <meta property="og:image" content="{{ asset("./bundles/streamlined/images/logo.webp") }}"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url"
          content="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ app.request.requestUri }}"/>
    <meta property="twitter:title"
          content="{% block title3 %} Build Your Link {% endblock %} - {{ streamlined_config("streamlined_bundle.streamlined").app.name }}"/>
    <meta property="twitter:description"
          content="{{ streamlined_config('streamlined_bundle.streamlined').app.description }}"/>
    <meta property="twitter:image" content="{{ asset("./bundles/streamlined/images/logo.webp") }}"/>

    <script>
        window.trans = {
            'copyCode.error': '{{ 'Failed to copy text. Make sure you are on a secure connection!'|trans({}, 'StreamlinedBundle') }}',
        }
    </script>

    {% set manifestFile = 'entrypoints.json' %}
    {% set manifestPath = 'bundles/streamlined/' ~ manifestFile %}
    <script type="text/javascript">
        const routeToProcessForm = "{{ path('process_form')|escape('js') }}";
    </script>
    {% if file_exists(manifestPath) %}
        {% set manifest = json_decode(file_get_contents(manifestPath), true) %}

        {% if manifest.entrypoints.app is defined %}
            {# Include CSS stylesheets #}
            {% for cssAsset in manifest.entrypoints.app.css %}
        <link rel="stylesheet" href="{{ asset(cssAsset) }}">
            {% endfor %}

            {# Include JavaScript files #}
            {% for jsAsset in manifest.entrypoints.app.js %}
            <script src="{{ asset(jsAsset) }}" type="text/javascript"></script>
            {% endfor %}
        {% endif %}
    {% endif %}

</head>
<body class="">
<div class="dark:bg-gray-900">
    {% block body %}{% endblock %}
</div>
{% block cookie %}
    {% include '@StreamlinedBundle/components/cookie_message.html.twig' %}
{% endblock %}

{% block footer %}
    <footer>
        {% include '@StreamlinedBundle/components/footer.html.twig' %}
    </footer>
{% endblock %}
</body>
</html>
